body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #d2c7c3;
}

@font-face {
	font-family: isaac;
	src: url(../routes/assets/font/IsaacGame.ttf);
  }

#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2c7c3;
}

#game-container {
    position: relative;
}

#menu-image {
    max-width: 100%;
    max-height: 100%;
}

#start {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

#start {
    width: 100%;
    height: 100%;
	background-image: url('../routes/assets/images/bg_doodle.png');
    z-index: 2;
}

.centered-image {
	max-width: 2000px;
	position: relative;
    display: inline-block;
	display: block;
}

.disabled-link {
    pointer-events: none;
    /* color: grey; */
    cursor: not-allowed;
}

.button-mode {
    padding: 10px 20px;
    background: transparent;
    color: rgba(69,57,59,255);
    cursor: pointer;
	font-family: isaac;
    font-size: 3.5vw;
    text-decoration: none;
    border: none;
}

.log-buttons {
    padding: 10px 20px;
    background: transparent;
    color: rgba(69,57,59,255);
    cursor: pointer;
	font-family: isaac;
    font-size: 3vw;
    text-decoration: none;
    border: none;
    display: flex;
    flex-direction: column; /* Permet au texte d'être empilé verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center;

}

/* button:hover {
    font-size: 3.8vw;
} */


#openPageButton {
    position: absolute;
    top: calc(50% + 210px);
    left: calc(50%);
    transform: translate(-50%, -50%) rotate(7deg);
    padding: 10px 20px;
    background: transparent;
    color: rgba(69,57,59,255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: isaac;
    font-size: 55px;
}

#select-mode {
    position: absolute;
    top: 12%;
    left: 33%;
    width: 34%;
    height: 70%;
    transform: translate(10%, 10%) rotate(-5deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

#log-page {
    position: absolute;
    /* background-color: red; */
    top: 22%;
    left: 12%;
    width: 14%;
    height: 29%;
    transform: rotate(12deg);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

#login-popin {
    /* background-color:purple; */

    /* display: flex; */
    display: none;
}

#logout-popin {
    /* background-color:rgb(94, 255, 0); */
    display: none;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.popin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.log-popin {

	background-image: url('../routes/assets/images/login-postit.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height:400px;
    position: relative;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#login-content {
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding: 95px 110px 0px 100px;
    transform: rotate(5deg);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

#openPopupBtn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#register-content {
    display: none;
    flex-direction: column;
    align-items:  center;
    padding: 95px 110px 0px 100px;
    transform: rotate(5deg);
}

#local:disabled {
    cursor: not-allowed; /*if login cursor: allowed */
    border: none;
}

#user-info {
    background-color: blue;
}

.email {
    margin-left: calc(32px);
}

#google-logo {
    width: 20%;
}

.confirm-button {
    padding: 5px 15px;
    margin: 10px;
    background-color: #fffcfc;
    border: none;
    border-radius: 0.5rem;
}

.login-buttons {
    flex: 1;
    background-color: #fffcfc;
    color: black;
    border: none;
    padding: 5px 15px;
    /* gap: 10px; */
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    text-decoration: none;
}

.login-buttons:hover {
    font-size: 1rem;
    
}

#github-logo {
    width: 20%;
}

#github-login {
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2e31;
    color: white;
    text-align: center;
}

#intra-logo {
    width:40px;
}

.custom-input {
    border: none;
    background-color: #ccc7c6;
}

@font-face {
	font-family: isaac;
	src: url(../routes/assets/font/IsaacGame.ttf);
  }

#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2c7c3;
}

#game-container {
    position: relative;
}

#menu-image {
    max-width: 100%;
    max-height: 100%;
}

#start {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

#start {
    width: 100%;
    height: 100%;
	background-image: url('../routes/assets/images/bg_doodle.png');
    z-index: 2;
}

#post-it-1 {
    z-index: 3;
}

#header {
    width: 100%;
    height: 100%;

}

.centered-image {
	max-width: 2000px;
	position: relative;
    display: inline-block;
	display: block;
}

.button-mode {
    padding: 10px 20px;
    background: transparent;
    color: rgba(69,57,59,255);
    cursor: pointer;
	font-family: isaac;
    font-size: 3.5vw;
    text-decoration: none;
}

#select-mode {
    position: absolute;
    top: 12%;
    left: 33%;
    /* background-color: red; */
    transform: translate(10%, 10%) rotate(-5deg);
    width: 34%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%; /*pas sur que ca soit le mieux pour que ca soit responsive*/
}

#login-page {
    position: absolute;
    top: 20%;
    left: 10%;
    /* background-color: blue; */
    transform: translate(10%, 10%) rotate(12deg);
    width: 15%;
    height: 29%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#login {
    padding: 10px 20px;
    background: transparent;
    color: rgba(69,57,59,255);
    cursor: pointer;
	font-family: isaac;
    font-size: 3vw;
    text-decoration: none;
}

a:hover {
    font-size: 3.8vw;
}

#openPageButton {
    position: absolute;
    top: calc(50% + 210px); /* adjust vertical position (e.g., 20px below the center) */
    left: calc(50%);
    transform: translate(-50%, -50%) rotate(7deg); /* center the button exactly */
    padding: 10px 20px;
    background: transparent; /* remove background */
    color: rgba(69,57,59,255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: isaac;
    font-size: 55px;

 /* adjust horizontal position (e.g., 30px to the right of the center) */
}
