body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #d2c7c3;
}

@font-face {
	font-family: isaac;
	src: url(../routes/assets/font/IsaacGame.ttf);
  }

#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2c7c3;
}

#game-container {
    position: relative;
}

#menu-image {
    max-width: 100%;
    max-height: 100%;
}

.button-mode {
    padding: 10px 20px;
    background: transparent;
    color: rgba(69,57,59,255);
    cursor: pointer;
	font-family: isaac;
    font-size: 3.5vw;
    text-decoration: none;
    border: none;
}

#select-mode {
    position: absolute;
    top: 12%;
    left: 33%;
    transform: translate(10%, 10%) rotate(-5deg);
    width: 34%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%; /*pas sur que ca soit le mieux pour que ca soit responsive*/
}

a:hover {
    font-size: 3.8vw;
}


#log-page {
    position: absolute;
    top: 22%;
    left: 12%;
    width: 14%;
    height: 29%;
    transform: rotate(12deg);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.login-popin {
    display: none;
}

#logout-popin {
    display: none;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.log-buttons {
    padding: 10px 20px;
    background: transparent;
    color: rgba(69,57,59,255);
    cursor: pointer;
	font-family: isaac;
    font-size: 3vw;
    text-decoration: none;
    border: none;
    display: flex;
    flex-direction: column; /* Permet au texte d'être empilé verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center;
}


/* Debut du popup*/

.popin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.log-popin {

	background-image: url('../static/assets/sheets/login.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height:400px;
    position: relative;
}

#closePopupBtn {
	position: absolute;
	top: 15%;
	right: 14%;
	font-size: 35px;
	cursor: pointer;
}

#login-content {
    display: flex;
    flex-direction: column;
    /* align-items:  center; */
	padding-top: 30px;
	padding-left: 50px;
    transform: rotate(5deg);
}

.email {
    margin-left: calc(32px);
}

.confirm-button {
    padding: 5px 15px;
	margin-bottom: 20px;
    background-color: #fffcfc;
    border: none;
    border-radius: 0.5rem;
}

.login-buttons {
    flex: 1;
    background-color: #fffcfc;
    color: black;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    text-decoration: none;
}

.intra_button{
	background-color: rgba(240,240,240,255);
}


#google-logo {
    width: 20%;
}

#github-login {
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2e31;
    color: white;
    text-align: center;
}

#github-logo {
    width: 20%;
}

#buttons {
	margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
	width: 60%;
}

#intra-logo {
    width: 25%;
}

#register-content {
    display: none;
    flex-direction: column;
    align-items:  center;
    padding: 95px 110px 0px 100px;
    transform: rotate(5deg);
}

#local:disabled {
    cursor: not-allowed; /*if login cursor: allowed */
    border: none;
}

.login-buttons:hover {
    font-size: 1rem;
}

.custom-input {
    border: none;
    background-color: #ccc7c6;
}

.title-login 
{
	font-family: isaac;
	color:#313131;
	font-size: 2rem;
	margin-bottom: 20px;
	position :relative;
	padding-left: 35%;
}

.no-account 
{
	position: absolute;
	left : 70%
}