#background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-image: url("../../../static/assets/background/background_1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 100;
  }
#loading {
	position: absolute;
	width: 100px;
	height: 100px;
	top:40%;
	transform: translateX(-50%);
	left:50%;
	background-image: url("../../static/assets/loading.gif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 101;
}
#customBtn {
	display: inline-block;
	background: white;
	color: #444;
	width: 190px;
	border-radius: 5px;
	border: thin solid #888;
	box-shadow: 1px 1px 1px grey;
	white-space: nowrap;
}
#customBtn:hover {
	cursor: pointer;
}
span.label {
	font-family: serif;
	font-weight: normal;
}
span.icon {
	background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
}
span.buttonText {
	display: inline-block;
	vertical-align: middle;
	padding-left: 42px;
	padding-right: 42px;
	font-size: 14px;
	font-weight: bold;
}

.div_2fa {
	display: none;
}
