services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    image: ghcr.io/cdurdetrouver/backend:latest
    container_name: backend
    ports:
      - "8000:8000"
    networks:
      - app-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    image: ghcr.io/cdurdetrouver/frontend:latest
    container_name: frontend
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    volumes:
      - ./certs/conf:/etc/letsencrypt
      - ./certs/www:/var/www/certbot

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certs/conf:/etc/letsencrypt
      - ./certs/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email gabriel.bazart@gmail.com --agree-tos -d pong.cdurdetrouver.fr --non-interactive
    depends_on:
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
