services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    image: ghcr.io/cdurdetrouver/backend-dev:latest
    container_name: backend-dev
    ports:
      - "8080:8080"
    networks:
      - app-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    image: ghcr.io/cdurdetrouver/frontend-dev:latest
    container_name: frontend-dev
    ports:
      - "80:80"
    networks:
      - dev-network
networks:
  dev-network:
    driver: bridge
