services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    image: ghcr.io/cdurdetrouver/backend:latest
    container_name: backend
    ports:
      - "8000:8000"
    networks:
      - app-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    image: ghcr.io/cdurdetrouver/frontend:latest
    container_name: frontend
    ports:
      # - "80:80"
      - "443:443"
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
