@font-face {
    font-family: isaac-bold;
    src: url('http://localhost:5500/routes/assets/font/isaac_bold.ttf') format('truetype');
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background-image: url("../../static/assets/background/background_1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: max-content;
	text-align: center;
}

.waiting {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	gap: 2rem;
}

.user {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.user__name {
	font-family: isaac-bold;
	font-size: 1rem;
	background-image: url(../../static/assets/pong/nametag.png);
	width: 230px;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	outline: none;
	border: none;
}

.user_picture {
    width: 250px;
    height: 250px;
    position: relative;
    background-image: url("../../static/assets/pong/player-sheet.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user_picture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    z-index: 2; 
    pointer-events: none; /
}
.user_picture img {
	margin-top: 40px;
	width: 170px;
	height: 170px;
    position: relative; /* Establish stacking context */
    z-index: 2; /* Bring it to the front */
}

.user__status svg {
	width: 50px;
	height: 50px;
}

.waiting__message {
	background-image: url("../../static/assets/pong/vs.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	background-color: #cac5bd;
	padding: 1rem;
	border-radius: 20	px;
	position: relative;
}

@keyframes rotate {
	from {
		--angle: 0deg;
	}

	to {
		--angle: 360deg;
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.waiting__message::before,
.waiting__message::after {
	content: '';
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: conic-gradient(from var(--angle), transparent 90%, grey);
	border-radius: 1.5rem;
	position: absolute;
	padding: 5px;
	z-index: -1;
	animation: 1.5s rotate linear infinite;
	display: none;
}

.waiting__message::before {
	filter: blur(15px);
	opacity: 0.5;
}

.show::after,
.show::before {
	display: block;
}

.users {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.waiting__button #search {
	background-color: green;
	color: white;
	font-size: 1rem;
	padding: 1rem 2rem 1rem 2rem;
	border-radius: 1.5rem;
	cursor: pointer;
}

.game {
	display: none;
}