@font-face {
    font-family: isaac;
    src: url('../../../assets/font/isaac.ttf') format('truetype');
}

body {
	text-align: center;
}
canvas {
	display: block;
    margin-right: auto;
    margin-left: auto;
}
#background-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url('../../../../static/assets/background/background_1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1;
}
#container {
	font-family: isaac;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	#player-block {
		font-size: 1.3rem;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 50px;
		margin-bottom: 10px;
		width: 950px;
		#player1 {
			text-align: left;

		}
		#player2 {
			text-align: right;

		}
	}
	#game-canvas {
		position: relative;
		height: 605px;
		width: 1025px;
		#backgroundCanvas {
			position: absolute;
			z-index: 0;
			border-radius: 40px;
		}
		#pongCanvas {
			position: absolute;
			z-index: 1; 
		}
		#lifeCanvas {
			position: absolute;
			z-index: 1; 
		}
		.return-menu {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 50%;
			z-index: 5;
			#button-return {
				position: absolute;
				font-family: isaac;
				font-size: 0.8rem;
				background-image: url(../../../../static/assets/sheets/Button.png);
				width: 150px;
				height: 60px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-color: transparent;
				outline: none;
				border: none;
				cursor: pointer;
				transition: transform 0.1s ease;
				&:hover{
					transform: scale(1.02);
					border: none;
					background-color: transparent;
				}
			}
		}
	}
	#matchList {
		position: absolute;
		top: 100px;
		left: 1450px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 400px;
	
		.Matchline {
			font-size: 0.8rem;
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 10px;
			margin-top: 10px;
	
			.player-left {
				text-align: left;
				width: 75px;
				white-space: nowrap;
				overflow: hidden;
				padding-right: 20px;
			}
	
			.player-right {
				text-align: right;
				width: 75px;
				white-space: nowrap;
				overflow: hidden;
				padding-left: 20px;
			
			}
		}
	}
	#space-start {
		margin-top: 10px;
	}
}

.win {
	background-image: url(../../../../static/assets/yes.png);
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	outline: none;
	border: none;	
}
.lost {
	background-image: url(../../../../static/assets/no.png);
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	outline: none;
	border: none;	
}