body {
	text-align: center;
}
canvas {
	position: absolute;
	left:0;
	top:0;
	}
#background-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-image: url('../../../static/assets/background/background_1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1;
}

#backgroundCanvas {
	position: absolute;
    z-index: 0; /* Behind the game canvas */
}

#pongCanvas {
	position: absolute;
    z-index: 1; /* In front of the background */
}
#lifeCanvas {
	position: absolute;
    z-index: 1; /* In front of the background */
}
#historic {
	position: absolute;
	left: 1300px;
}