@font-face {
	font-family: isaac;
	src: url(../../routes/assets/font/IsaacGame.ttf);
  }

  @font-face {
    font-family: isaac-bold;
    src: url('http://localhost:5500/routes/assets/font/isaac_bold.ttf') format('truetype');
}

  html, body {
    overflow: hidden;
    height: 100%; /* Ensures the content fits the viewport height */
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2c7c3;
	background-image: url('../../static/assets/background/background_1.png'); /* Add your background image path */
	background-repeat: repeat;
	background-size: cover;
}


.flex-container {
	display: flex;
	flex-direction: row;
	margin-left: 100px;
	margin-top: 25px;
	gap: 40px;

	.block {
		width: 400px;
		height: 100vh;
		display: flex;
		justify-content: left;
		color: white;
		font-size: 1rem;
		border-radius: 8px;
	}
	.left {
		background-color: transparent;
		background-image: url('../../static/assets/sheets/chat-left.png');
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		flex-direction: column;
		.search-container {
			font-family: isaac;
			color: #2d2d2d;
			margin-left: 50px;
		}
		.create-box {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 91%;
			list-style-type: none;
			padding-top: 10px;
			padding-bottom: 10px;
			// border-top: 2px solid rgb(171, 170, 170);
			#create-room-btn {
				font-family: isaac-bold;
				font-size: 0.7rem;
				background-image: url(../../static/assets/sheets/Button.png);
				width: 200px;
				height: 60px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-color: transparent;
				outline: none;
				border: none;
				cursor: pointer;
				transition: transform 0.1s ease;
				&:hover{
					transform: scale(1.02);
					border: none;
					background-color: transparent;
				}
			}
		}
		.user-list {
			margin-left: 50px;
			list-style-type: none; 
		}
		.chat-list {
			font-family: isaac-bold;
			color: #2d2d2d;
			border-top: 2px solid rgb(171, 170, 170); 
			border-bottom: 2px solid   rgb(171, 170, 170);
			width: 80%;
			margin-left: 50px;
			list-style-type: none; 
			padding: 0; 
			overflow-y: scroll;
			scrollbar-width: thin; 
			scrollbar-color: #888 transparent;
			flex: 1; 

		}

		.invitation {
			font-family: isaac;
			color: #2d2d2d;
			margin-left: 50px;
			position: relative;
			margin-bottom: 100px;

		}

		.invitation-list {
			margin-left: 50px;
			overflow-y: scroll;
		}
		
	}

	.middle {
		width: 700px;

			.chat-block {

				width: inherit;
				height: inherit;

				.chat-output-block {
					background-color: transparent;
					background-image: url('../../static/assets/sheets/chat-middle.png');
					background-repeat: no-repeat;
					background-size:contain;
					height: 90%;
		
					#chat-header {
						font-family: isaac-bold;
						color: #2d2d2d;
						padding-top: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						
						.room-pic {
							display: inline-flex;
							align-items: center; 
							margin-right: 15px; 
						}

						.room-pic img
						{
							width: 45px;
							height: 45px;
							border-radius: 50%;
							overflow: hidden;
						}

						.room-name {
							display: inline-flex;
							align-items: center;
							font-size: 2rem;
						}
					}

					#chat-log {
						font-family: isaac-bold;
						color: #2d2d2d;
						overflow-y: auto;
						margin-left: 50px;
						margin-top: 50px;
						width: 88%; 
						height: 100%; 
						resize: none;
						background: none;
						display: flex;
						flex-direction: column;
						gap: 5px;
						scrollbar-width: thin; 
						scrollbar-color: #888 transparent;

						.chat-message {
							border-radius: 20px;
							margin-left: 35px;
						}
						
						.gamek-link {
							display: block;
							text-align: center; 
							color: #007bff; /* Link color */
							text-decoration: none; /* Remove underline from the link by default */
							border: 2px solid #007bff; /* Border properties */
							border-radius: 10px; /* Rounded corners (optional) */
							padding: 10px; /* Padding inside the border */
							margin-left: 25%;
							width: 40%;
							
							transition: background-color 0.3s, color 0.3s; /* Smooth transition */
						}
						
						.gamek-link:hover {
							background-color: rgba(0, 123, 255, 0.1); /* Light blue background on hover */
							color: #0056b3; /* Darker blue color on hover */
						}

						.nameDiv {
							font-size: 10px;
							color: #797979;
						}

						.profile-pic
						{
							width: 30px;
							height: 30px;
							border-radius: 50%;
							overflow: hidden;
							position: relative;
							bottom: -32px;
							margin-right: 4px;
						}
					}
				}
				
				#chat-input-block {
					display: flex;
					flex-direction: row;
					margin-left: 15px;

					#chat-message-input {
						width: 83%;
						border-radius: 5px;
						background-color: #9d9d93;
						outline: none;
						border: none;
						height: 35px;
						margin-left: 10px;
						margin-right: 10px;
						font-size: 16px;
	
						&:focus {
							outline: none;
						}
					}

					#chat-message-pong {
						height: 35px;
						width: 35px;
						background-color: #9d9d93;
						border-radius: 5px;
						outline: none;
						border: none;

						&:hover {
							background-color: #898984;
						}
					}
				}

		}
	}
	.right {
		background-color: transparent;
		background-image: url('../../static/assets/sheets/chat-right.png');
		background-repeat: no-repeat;
		background-size: 100%;

		display: flex;
		flex-direction: column;

		.room-info 
		{
			position: relative;
			height: 100px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
			
			.room-pic {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 12px ;
			}

			.room-name-right {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 70px ;

			}
		}

		.room-users {
			overflow-y: scroll; 
			padding-bottom: 30%;
			
			scrollbar-width: thin; 
			scrollbar-color: #888 transparent;

		}
					

		.chat-conf {
			position: relative;
		}

		.lower-left {
			position: relative;
		}

		.room-users {
			list-style-type: none; 
		}

		.room {
			list-style-type: none; 
		}


		.leave-room {
			margin-top: auto;
		}
	}
}


.room-pic img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.room {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center; /* Aligns content vertically */

	&:hover {
		background-color: #858582;

	}
	
	.room-pic {
		display: inline-flex;
		align-items: center; 
		margin-right: 10px; 
	}

	.room-name-left
	{
		display: inline-flex;
		align-items: center;
	}

}