@font-face {
	font-family: isaac;
	src: url(../../routes/assets/font/IsaacGame.ttf);
  }
  @font-face {
    font-family: isaac;
    src: url('http://localhost:5500/routes/assets/font/isaac.ttf') format('truetype');
}
  html, body {
    overflow: hidden;
    height: 100%;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2c7c3;
	background-image: url('../../static/assets/background/background_1.png'); /* Add your background image path */
	background-repeat: repeat;
	background-size: cover;
}
.flex-container {
	display: flex;
	flex-direction: row;
	margin-left: 100px;
	margin-top: 25px;
	gap: 40px;
	.block {
		width: 400px;
		height: 100vh;
		display: flex;
		justify-content: left;
		color: white;
		font-size: 1rem;
		border-radius: 8px;
	}
	.left {
		background-color: transparent;
		background-image: url('../../static/assets/sheets/chat-left.png');
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		flex-direction: column;
		.left-top {
			font-family: isaac;
			color: #2d2d2d;
			margin-left: 50px;
			h1 {
				padding-top: 20px;
			}
			.create-box {
				width: 91%;
				padding-bottom: 10px;
				#create-room-btn {
					font-family: isaac;
					font-size: 0.7rem;
					background-image: url(../../static/assets/sheets/Button.png);
					width: 200px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}
				.form-row {
					display: flex;
					align-items: center; 
					gap: 20px;
				}
				.validate {
					margin-left: 25px;
				}
				#validate-room {
					opacity: 0;               
					position: absolute;       
					height: 50px;
					width: 50px;
					z-index: 2;
				}
				.chat-conf-close{
					opacity: 0;               
					position: absolute;       
					height: 50px;
					width: 50px;
					z-index: 2;
				}
			}
		}	
		.user-list {
			margin-left: 50px;
			list-style-type: none; 
		}
		.chat-list {
			font-family: isaac;
			color: #2d2d2d;
			border-top: 2px solid rgb(171, 170, 170); 
			border-bottom: 2px solid   rgb(171, 170, 170);
			width: 80%;
			margin-left: 50px;
			min-height: 330px;
			list-style-type: none;
			overflow-y: scroll;
			scrollbar-width: thin; 
			scrollbar-color: #888 transparent;
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
		}
		.chat-info{
			display: flex;
			justify-content: center;
			align-items: center;
			
		}
		.invitation {
			font-family: isaac;
			color: #2d2d2d;
			margin-left: 50px;
			position: relative;
			margin-bottom: 100px;
		}

		.invitation-list {
			list-style-type: none;
			width: 85%;
			overflow-y: scroll;
			scrollbar-width: thin; 
			scrollbar-color: #888 transparent;
			max-height: 150px;
		}
		
	}

	.middle {
		width: 700px;
			.chat-block {
				width: inherit;
				height: inherit;
				background-color: transparent;
				background-image: url('../../static/assets/sheets/chat-middle.png');
				background-repeat: no-repeat;
				background-size:contain;
				height: 90%;
				.chat-output-block {
					width: inherit;
					height: 100%;
					#chat-header {
						font-family: isaac;
						color: #2d2d2d;
						padding-top: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						.room-pic {
							display: inline-flex;
							align-items: center; 
							margin-right: 15px; 
						}
						.room-pic img
						{
							width: 45px;
							height: 45px;
							border-radius: 50%;
							overflow: hidden;
						}
						.room-name {
							overflow: hidden;
							text-overflow: ellipsis;
							max-width: 80%;
							font-size: 2rem;
						}
					}
					#chat-log {
						font-family: isaac;
						color: #2d2d2d;
						overflow-y: auto;
						margin-left: 50px;
						margin-top: 60px;
						width: 88%; 
						height: 100%; 
						resize: none;
						background: none;
						display: flex;
						flex-direction: column;
						gap: 5px;
						scrollbar-width: thin; 
						scrollbar-color: #888 transparent;
						.chat-message {
							border-radius: 20px;
							margin-left: 35px;
						}
						.announce {
							position: relative;
							left:130px;
							padding: 15px;
							width: 60%;
						}
						.gamek-link {
							display: block;
							text-align: center; 
							color: #007bff; 
							text-decoration: none; 
							border: 2px solid #007bff; 
							border-radius: 10px; 
							padding: 10px; 
							margin-left: 25%;
							width: 40%;
							transition: background-color 0.3s, color 0.3s; 
						}
						.gamek-link:hover {
							background-color: rgba(0, 123, 255, 0.1);
							color: #0056b3; 
						}
						.nameDiv {
							font-size: 10px;
							color: #797979;
						}
						.profile-pic
						{
							width: 30px;
							height: 30px;
							border-radius: 50%;
							overflow: hidden;
							position: relative;
							bottom: -32px;
							margin-right: 4px;
						}
					}
				}
				#chat-input-block {
					display: flex;
					flex-direction: row;
					margin-left: 15px;
					#chat-message-input {
						width: 83%;
						border-radius: 5px;
						background-color: #c7b29a;
						outline: none;
						border : none;
						height: 35px;
						margin-left: 10px;
						margin-right: 10px;
						font-size: 16px;
						&:focus {
							outline: none;
						}
					}
					#chat-message-pong {
						background-color: transparent;
						height: 40px;
						width: 40px;
						background-image: url('../../static/assets/chat/play.png');
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						background-color: transparent;
						outline: none;
						border: none;
						cursor: pointer;
						transition: transform 0.1s ease;
						&:hover{
							transform: scale(1.02);
							border: none;
							background-color: transparent;
						}
					}
				}
		}
	}
	.right {
		font-family: isaac;
		color: #2d2d2d;
		background-color: transparent;
		background-image: url('../../static/assets/sheets/chat-right.png');
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		flex-direction: column;
		.room-info 
		{
			padding-left: 50px;
			padding-bottom: 10px;
			h1 {
				padding-top: 20px;
			}
			#chat-message-leave {
				font-family: isaac;
				font-size: 0.7rem;
				background-image: url(../../static/assets/sheets/Button-cross.png);
				width: 200px;
				height: 60px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-color: transparent;
				outline: none;
				border: none;
				cursor: pointer;
				transition: transform 0.1s ease;
				&:hover{
					transform: scale(1.02);
					border: none;
					background-color: transparent;
				}
			}
		}

		.room-users {
			list-style-type: none;
			border-top: 2px solid rgb(171, 170, 170); 
			border-bottom: 2px solid   rgb(171, 170, 170);
			width: 80%;
			margin-left: 50px;
			min-height: 300px;
			list-style-type: none;
			overflow-y: scroll;
			scrollbar-width: thin; 
			scrollbar-color: #888 transparent;
		}

		.room {
			list-style-type: none; 
		}
		.chat-conf {
			position: relative;
			h3 {
				margin-left: 30px;
				margin-bottom: 10px;
			}
			#user-add-remove-block {
				display: flex;
				flex-direction: row;
				margin-left: 30px;
				gap: 20px;
				margin-bottom: 15px;
				#button-add-user{
					font-family: isaac;
					font-size: 0.8rem;
					background-image: url(../../static/assets/chat/Button-green.png);
					width: 150px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}
				#button-remove-user{
					font-family: isaac;
					font-size: 0.8rem;
					background-image: url(../../static/assets/chat/button-red.png);
					width: 150px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}	
			}
			#chat-user-input {
				margin-left: 30px;
			}
			#chat-user-submit {
				background-image: url(../../static/assets/yes.png);
				width: 20px;
				height: 20px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-color: transparent;
				outline: none;
				border: none;	
				cursor: pointer;
				transition: transform 0.1s ease;
				&:hover{
					transform: scale(1.02);
					border: none;
					background-color: transparent;
				}
			}
			#chat-conf-close {
				background-image: url(../../static/assets/login/arrow.png);
				width: 20px;
				height: 20px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-color: transparent;
				outline: none;
				border: none;	
				cursor: pointer;
				transition: transform 0.1s ease;
				&:hover{
					transform: scale(1.02);
					border: none;
					background-color: transparent;
				}
			}
			#roomConfForm {
				margin-left: 30px;
				.new-pic {
					margin-left: 30px;
				}
				#submit-delete-block{
					display: flex;
					flex-direction: row;
					margin-left: 20px;
					gap: 20px;
					#submit-edit {
						font-family: isaac;
						font-size: 0.7rem;
						background-image: url(../../static/assets/sheets/Button.png);
						width: 150px;
						height: 60px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						background-color: transparent;
						outline: none;
						border: none;
						cursor: pointer;
						transition: transform 0.1s ease;
						&:hover{
							transform: scale(1.02);
							border: none;
							background-color: transparent;
						}
					}
				}
				#chat-delete {
					font-family: isaac;
					font-size: 0.7rem;
					background-image: url(../../static/assets/sheets/Button-delete.png);
					width: 150px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}
			}
		}

		.lower-left {
			position: relative;
			.user-list {
				height: 175px;
				font-family: isaac;
				color: #2d2d2d;
				width: 80%;
				list-style-type: none;
				overflow-y: scroll;
				scrollbar-width: thin; 
				scrollbar-color: #888 transparent;
			}
		}
	}
}


.room-pic img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.room {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;

	&:hover {
		background-color: #858582;

	}
	.room-pic {
		display: inline-flex;
		align-items: center; 
		margin-right: 10px; 
	}

	.room-name-left
	{
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 100px;
	}
}
.invite-test {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;

	&:hover {
		background-color: #858582;
	}
	.room-pic {
		display: inline-flex;
		align-items: center; 
		margin-right: 10px; 
	}

	.room-name-left
	{
		display: inline-flex;
		align-items: center;
	}
	.invite-yes:hover {
		background-color: #fbfb2e;
	}
}
.validate {
	position: relative;
	background-image: url(../../static/assets/yes.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 25px;
	width: 25px;
	cursor: pointer;
	transition: transform 0.2s ease;
	&:hover{
		transform: scale(1.10);
	}
}

.close-element {
	position: relative;
	background-image: url(../../static/assets/no.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 25px;
	width: 25px;
	cursor: pointer;
	transition: transform 0.2s ease;
	&:hover{
		transform: scale(1.10);
	}
}

input[type="text"] {
	width: 60%; 
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid  grey; 
	font-size: 16px;    
	transition: 0.3s;    
	box-shadow: none;    
	background-color: #e9dadf;
	font-family: isaac;
	overflow: hidden;
	text-overflow: ellipsis;
}

input[type="text"]:focus {
	border-color: #66afe9; 
	outline: none;
	box-shadow: none;
}
.input-text-chat::placeholder {
	font-family: isaac;
	color: gray;
	opacity: 0.7;
}
.room_picture {
	opacity: 0;              
	position: absolute;      
	height: 100px;
	width: 100px;
	z-index: 2;
}
.new-pic {
	position: relative;
	background-image: url(../../static/assets/login/avatar_sad.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	width: 100px;
	cursor: pointer;
	transition: transform 0.2s ease;
	&:hover {
		transform: scale(1.05);
	}
}
.invite-yes{
	margin-left: 35%;
	background-image: url(../../static/assets/yes.png);
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	outline: none;
	border: none;	
	cursor: pointer;
	transition: transform 0.1s ease;
	&:hover{
		transform: scale(1.3);
		border: none;
		background-color: transparent;
	}
}

.invite-no{
	margin-left: 15px;
	background-image: url(../../static/assets/no.png);
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	outline: none;
	border: none;	
	cursor: pointer;
	transition: transform 0.1s ease;
	&:hover{
		transform: scale(1.3);
		border: none;
		background-color: transparent;
	}
}
#chat-message-submit {
	display: none;
}