@font-face {
	font-family: isaac-bold;
	src: url(../../routes/assets/font/IsaacGame.ttf);
  }
  @font-face {
    font-family: isaac-bold;
    src: url('http://localhost:5500/routes/assets/font/isaac_bold.ttf') format('truetype');
}
  html, body {
    overflow: hidden;
    height: 100%;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2c7c3;
	background-image: url('../../static/assets/background/background_1.png'); /* Add your background image path */
	background-repeat: repeat;
	background-size: cover;
}
.flex-container {
	display: flex;
	flex-direction: row;
	margin-left: 100px;
	margin-top: 25px;
	gap: 40px;
	.block {
		width: 400px;
		height: 100vh;
		display: flex;
		justify-content: left;
		color: white;
		font-size: 1rem;
		border-radius: 8px;
	}
	.left {
		background-color: transparent;
		background-image: url('../../static/assets/sheets/chat-left.png');
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		flex-direction: column;

		
		.search-container {

		.search-container {
			font-family: isaac;
			color: #2d2d2d;
			margin-left: 50px;
			h1 {
				padding-top: 20px;
			}
			.create-box {
				width: 91%;
				list-style-type: none;
				padding-bottom: 10px;
				#create-room-btn {
					font-family: isaac-bold;
					font-size: 0.7rem;
					background-image: url(../../static/assets/sheets/Button.png);
					width: 200px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}
				.form-row {
					display: flex;
					align-items: center; 
					gap: 20px;
				}
				.validate {
					margin-left: 25px;
				}
				#validate-room {
					opacity: 0;               
					position: absolute;       
					height: 50px;
					width: 50px;
					z-index: 2;
				}
				.chat-conf-close{
					opacity: 0;               
					position: absolute;       
					height: 50px;
					width: 50px;
					z-index: 2;
				}
			}
		}	
		.user-list {
			margin-left: 50px;
			list-style-type: none; 
		}
		.chat-list {
			font-family: isaac-bold;
			color: #2d2d2d;
			border-top: 2px solid rgb(171, 170, 170); 
			border-bottom: 2px solid   rgb(171, 170, 170);
			width: 80%;
			margin-left: 50px;
			min-height: 450px;
			list-style-type: none;
			overflow-y: scroll;
			scrollbar-width: thin; 
			scrollbar-color: #888 transparent;
		}
		.chat-info{
			display: flex;
			justify-content: center;
			align-items: center;
			
		}
		.invitation {
			font-family: isaac-bold;
			color: #2d2d2d;
			margin-left: 50px;
			position: relative;
			margin-bottom: 100px;
		}

		.invitation-list {
			width: 85%;
			overflow-y: scroll;
			scrollbar-width: thin; 
			scrollbar-color: #888 transparent;
			max-height: 150px;
		}
		
	}

		.invitation {
			font-family: isaac;
			color: #2d2d2d;
			margin-left: 50px;
			position: relative;
			margin-bottom: 100px; /* Pushes invitation to the bottom */

		}

		.invitation-list {
			margin-left: 50px;
			overflow-y: scroll;
		}
		
	}

	.middle {
		width: 700px;
			.chat-block {
				width: inherit;
				height: inherit;
				background-color: transparent;
				background-image: url('../../static/assets/sheets/chat-middle.png');
				background-repeat: no-repeat;
				background-size:contain;
				height: 90%;
				.chat-output-block {
					width: inherit;
					height: 100%;
					#chat-header {
						font-family: isaac-bold;
						color: #2d2d2d;
						padding-top: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						.room-pic {
							display: inline-flex;
							align-items: center; 
							margin-right: 15px; 
						}
						.room-pic img
						{
							width: 45px;
							height: 45px;
							border-radius: 50%;
							overflow: hidden;
						}
						.room-name {
							display: inline-flex;
							align-items: center;
							font-size: 2rem;
						}
					}
					#chat-log {
						font-family: isaac-bold;
						color: #2d2d2d;
						overflow-y: auto;
						margin-left: 50px;
						margin-top: 50px;
						width: 88%; 
						height: 100%; 
						resize: none;
						background: none;
						display: flex;
						flex-direction: column;
						gap: 5px;
						scrollbar-width: thin; 
						scrollbar-color: #888 transparent;
						.chat-message {
							border-radius: 20px;
							margin-left: 35px;
						}
						.gamek-link {
							display: block;
							text-align: center; 
							color: #007bff; 
							text-decoration: none; 
							border: 2px solid #007bff; 
							border-radius: 10px; 
							padding: 10px; 
							margin-left: 25%;
							width: 40%;
							transition: background-color 0.3s, color 0.3s; 
						}
						.gamek-link:hover {
							background-color: rgba(0, 123, 255, 0.1);
							color: #0056b3; 
						}
						.nameDiv {
							font-size: 10px;
							color: #797979;
						}
						.profile-pic
						{
							width: 30px;
							height: 30px;
							border-radius: 50%;
							overflow: hidden;
							position: relative;
							bottom: -32px;
							margin-right: 4px;
						}
					}
				}
				#chat-input-block {
					display: flex;
					flex-direction: row;
					margin-left: 15px;
					#chat-message-input {
						width: 83%;
						border-radius: 5px;
						background-color: #9d9d93;
						outline: none;
						border: none;
						height: 35px;
						margin-left: 10px;
						margin-right: 10px;
						font-size: 16px;
						&:focus {
							outline: none;
						}
					}
					#chat-message-pong {
						height: 35px;
						width: 35px;
						background-color: #9d9d93;
						border-radius: 5px;
						outline: none;
						border: none;
						&:hover {
							background-color: #898984;
						}
					}
				}
		}
	}
	.right {
		font-family: isaac-bold;
		color: #2d2d2d;
		background-color: transparent;
		background-image: url('../../static/assets/sheets/chat-right.png');
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		flex-direction: column;
		.room-info 
		{
			margin-top: 30px;
			position: relative;
			display: flex;
			justify-content: center;
			height: 130px;
			.room-name-right {
				position: absolute;
				top:55px;
				font-size: 1.3rem;
			}
		}
		.chat-conf {
			position: relative;
			h3 {
				margin-left: 20px;
				margin-bottom: 10px;
			}
			#user-add-remove-block {
				display: flex;
				flex-direction: row;
				margin-left: 20px;
				gap: 20px;
				margin-bottom: 15px;
				#button-add-user{
					font-family: isaac-bold;
					font-size: 0.8rem;
					background-image: url(../../static/assets/chat/Button-green.png);
					width: 150px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}
				#button-remove-user{
					font-family: isaac-bold;
					font-size: 0.8rem;
					background-image: url(../../static/assets/chat/button-red.png);
					width: 150px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}	
			}
			#roomConfForm {
				margin-left: 20px;
				.new-pic {
					margin-left: 20px;
				}
				#submit-delete-block{
					display: flex;
					flex-direction: row;
					margin-left: 20px;
					gap: 20px;
					#submit-edit {
						font-family: isaac-bold;
						font-size: 0.7rem;
						background-image: url(../../static/assets/sheets/Button.png);
						width: 150px;
						height: 60px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						background-color: transparent;
						outline: none;
						border: none;
						cursor: pointer;
						transition: transform 0.1s ease;
						&:hover{
							transform: scale(1.02);
							border: none;
							background-color: transparent;
						}
					}
				}
				#chat-delete {
					font-family: isaac-bold;
					font-size: 0.7rem;
					background-image: url(../../static/assets/sheets/Button-delete.png);
					width: 150px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}
			}
		}

		.lower-left {
			position: relative;
		}

		.room-users {
			list-style-type: none;
			// border-top: 2px solid rgb(171, 170, 170); 
			// border-bottom: 2px solid   rgb(171, 170, 170);
			width: 80%;
			margin-left: 50px;
			min-height: 200px;
			list-style-type: none;
			overflow-y: scroll;
			scrollbar-width: thin; 
			scrollbar-color: #888 transparent;
		}

		.room {
			list-style-type: none; 
		}


		.leave-room {
		}

		.room-users {
			list-style-type: none; 
		}

		.room {
			list-style-type: none; 
		}


		.leave-room {
			margin-top: auto;
		}
	}
}


.room-pic img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.room {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center; /* Aligns content vertically */

	&:hover {
		background-color: #858582;

	}
	
	.room-pic {
		display: inline-flex;
		align-items: center; 
		margin-right: 10px; 
	}

	.room-name-left
	{
		display: inline-flex;
		align-items: center;
	}
}