.background {
	width: 100%;
	height: 100%;
}

.flex-container {
	display: flex;
	flex-direction: row;
	margin-left: 100px;
	margin-top: 25px;
	gap: 40px;

	.block {
		width: 500px;
		height: 90vh;
		background-color: #aaaa9f;
		display: flex;
		justify-content: left;
		color: white;
		font-size: 1rem;
		border-radius: 8px;
	}

	.left {
		display: flex;
		flex-direction: column;
		min-height: 0; /* Allows flex-grow items to shrink as needed */

		
		.search-container {


			#user-list {
				list-style-type: none; 
			}
		}

		.user-list {
			list-style-type: none; 
		}
		
		.chat-list {
			list-style-type: none; 
			padding: 0; 
			margin: 0;
			overflow-y: scroll;
			flex-grow: 1;

		}

		.room {
			width: 100%;
			height: 75px;
			display: flex;
			align-items: center; /* Aligns content vertically */

			&:hover {
				background-color: #858582;

			}

			.room-pic {
				display: inline-flex;
				align-items: center; 
				margin-right: 10px; 
			}

			.room-name-left
			{
				display: inline-flex;
				align-items: center;
			}
		}

		.invitation {
			// position: absolute;
			// bottom: 30%; /* Position 30% from the bottom of the .left container */
			// color: #0056b3;
		}

		.invitation-list {
			overflow-y: scroll;
		}
		
	}

	.middle {
		width: 700px;

			.chat-block {

				width: inherit;
				height: inherit;

				#chat-header {
					padding : 10px;
					display: flex;
					align-items: center;
  					box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

					
					.room-pic {
						display: inline-flex;
						align-items: center; 
						margin-right: 5px; 
					}

					.room-pic img
					{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						overflow: hidden;
					}

					.room-name {
						display: inline-flex;
						align-items: center;
						font-size: 16px;
					}
				}

				#chat-log {
					overflow-y: auto;
					margin-left: 15px;
					width: 90%; 
					height: 80%; 
					resize: none;
					background: none;
					display: flex;
					flex-direction: column;
					gap: 5px;

					.chat-message {
						border-radius: 20px;
						margin-left: 35px;
					}
					
					.gamek-link {
						display: block;
						text-align: center; 
						color: #007bff; /* Link color */
						text-decoration: none; /* Remove underline from the link by default */
						border: 2px solid #007bff; /* Border properties */
						border-radius: 10px; /* Rounded corners (optional) */
						padding: 10px; /* Padding inside the border */
						margin-left: 25%;
						width: 40%;
						
						transition: background-color 0.3s, color 0.3s; /* Smooth transition */
					}
					
					.gamek-link:hover {
						background-color: rgba(0, 123, 255, 0.1); /* Light blue background on hover */
						color: #0056b3; /* Darker blue color on hover */
					}
	
					.nameDiv {
						font-size: 10px;
						color: rgb(219, 218, 218);	
					}
	
					.profile-pic
					{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						overflow: hidden;
						position: relative;
						bottom: -32px;
						margin-right: 4px;
					}
				}
				
				#chat-input-block {
					display: flex;
					flex-direction: row;
					margin-top: 10px;
					margin-left: 15px;

					#chat-message-input {
						width: 83%;
						border-radius: 5px;
						background-color: #9d9d93;
						outline: none;
						border: none;
						height: 35px;
						margin-right: 10px;
						font-size: 16px;
	
						&:focus {
							outline: none;
						}
					}

					#chat-message-pong {
						height: 35px;
						width: 35px;
						background-color: #9d9d93;
						border-radius: 5px;
						outline: none;
						border: none;

						&:hover {
							background-color: #898984;
						}
					}
				}




		}
	}
	.right {
		display: flex;
		flex-direction: column;

		.room-info 
		{
			position: relative;
			left : 50%;
			transform: translateX(-10%);
		}
		.chat-conf {
			position: absolute;
			top: 50%; /* Position 50% from the top of the parent */
			transform: translateY(-50%); /* Center it vertically relative to itself */
		}
	}
}


.room-pic img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}