@font-face {
    font-family: isaac-bold;
    src: url("http://localhost:5500/routes/assets/font/isaac_bold.ttf") format("truetype");
  }

p {
    display: grid;
    margin: 0.25em;
    align-items: center;
    justify-content: center;
}

h1 {
    display: grid;
    align-items: center;
    justify-content: center;
}

h4 {
    margin: 0.25em;
    display: grid;
    align-items: center;
    justify-content: center;
}

content {
    display: grid;
    align-items: center;
    justify-content: center;
}

div{
    display: grid;
    align-items: center;
    justify-content: center;
}

a {
    display: grid;
    text-decoration: none;
    outline-color: transparent;
    justify-content: center;
    align-items: center;
    line-height: 3;
    color: black;
}

.email-button {
    font-size: 1rem;
}

.background {
    font-family: isaac-bold;
    font-size: 2rem;
    position: center;
    width: 100dvw;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #d2c7c3;
    background-image: url("../../static/assets/background/background_1.png");
    background-repeat: repeat;
    background-size: cover;
}