@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100%;
}


.alert {
  display: flex;
  opacity: 0;
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateY(100%);
  min-width: 300px;
  width: max-content;
  max-width: 600px;
  max-height: 100px;
  border-radius: 1rem;
  padding: 16px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease;
}

.alert.success,
.alert.error {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.error {
  display: flex;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.success {
  display: flex;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert__icon {
  margin-right: 16px;
}

.alert__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alert__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.alert__description {
  margin: 4px 0 0;
  font-size: 14px;
}