body, html
    background-image: url('../assets/images/account/background_account.png')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 100%

    #page
        position: relative
        height: 100%

        .text
            font-family: isaac-bold
            color: #332C2B
        button
            background-color: transparent
            border: none
       
        button:hover
            transform: scale(1.2)

        #background
            position: relative
            width: 100vw
            height: 100vh
            left: 50%
            background-position: center
            background-repeat: no-repeat
            background-size: contain
            transform: translateX(-50%)
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column