body, html {
    background-image: url('../assets/images/utils/background_account.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /*background-color: #D2C7C3;*/
}

@font-face {
	font-family: isaac-bold;
	src: url(../assets/font/IsaacGame.ttf);
  }

@font-face {
    font-family: isaac-bold;
    src: url('http://localhost:5500/routes/assets/font/isaac_bold.ttf') format('truetype');
}


#page {
    position: relative;
    height: 100%;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#sheet-image {
    /*background-color: #4CAF50;*/
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-page {
    position: absolute;
    /*background-color: rgb(245, 0, 253);*/
    left:9%;
    top:4%;
    width: 63%;
    height: 80%;
    transform: rotate(7deg);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    max-width: 100%;
    max-height: 100%;
}

#options {
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*background-color: #D2C7C3;*/
}

#profile-picture-container {
    position: absolute;
    /*background-color: blueviolet;*/
    top: 11%;
    left: 37%;
    width: 30%;
    height: 20%;
}

#profile-picture {
    width: 100%;
}

.buttons {
    display: inline-block;
    width: 60%;
    height: 20%;
    transition: transform 0.3s ease;
}

.buttons:hover {
    transform: scale(1.2);
}

.button-image {
    width: 100%;
}

#confirmation-image {
    width: 35%;
}

#confirmation-popin {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top:0%;
    left:0%;
}

#popin-postit {
    position: absolute;
    /* background-color: blue; */
    width: 31%;
    height: 35%;

}

.button-popin {
    position: absolute;
    top: 65%;
    font-size: 4rem;
    transition: transform 0.3s ease;
    /* background-color: blue; */
}

.button-popin:hover {
    transform: scale(1.2);
}

#yes-button {
    left:15%;
    width: 27%;
    height: 18%;
}

#no-button {
    left: 60%;
    width: 23%;
    height: 18%;
}

#no-image {
    width:90%;
}

#yes-image {
    width: 90%;
}

#confirmationText {
    top: 10%;
    left: 15%;
    font-size: 4.2rem;
    text-align: center;
}

.stats {
    position: absolute;
    /* background-color: rgb(238, 115, 0); */
    width: 24%;
    height: 20%;
    font-size: 1.7vw;
    text-align: center;
    top: 18%;

}
#wins {
    left: 5%;
    color: #332C2B;
}

#losses {
    left: 73%;
}

#user-info {
    position: absolute;
    width: 42%;
    height: 20%;
    top: 50%;
    left: 30%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    font-size: 2vw;
}

#email {
    /* background-color: blue; */
    width: 100%;
    height: 50%;
    /* top: 100%; */
    /* left: 50%; */
}

#username {
    /* background-color: rgb(0, 250, 33); */
    /* position: absolute; */
    width: 100%;
    height: 50%;
    

}

.edit-input {
    display: none;
    width: 80%;
}

.edit-button {
    display: block;
    position: absolute;
    width: 10%;
}

#edit-email {
    top: 50%;
    left: 100%;
}

#edit-username {
    top: 5%;
    left: 100%;
}

.text {
    font-family: isaac-bold;
    color: #332C2B;
}