body, html {
    background-image: url('../assets/images/utils/background_account.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /*background-color: #D2C7C3;*/
}

@font-face {
	font-family: isaac-bold;
	src: url(../assets/font/IsaacGame.ttf);
  }

@font-face {
    font-family: isaac-bold;
    src: url('http://localhost:5500/routes/assets/font/isaac_bold.ttf') format('truetype');
}


#page {
    position: relative;
    height: 100%;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#sheet-image {
    /*background-color: #4CAF50;*/
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-page {
    position: absolute;
    /*background-color: rgb(245, 0, 253);*/
    left:9%;
    top:4%;
    width: 63%;
    height: 80%;
    transform: rotate(7deg);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    max-width: 100%;
    max-height: 100%;
}

#delete-profile {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    /* background-color: blue; */
}

.delete-logo {
    width: 8%;
    vertical-align: middle;
}

#delete-logo-left {
    top: 88%;
    left: 100%;
}

#delete-logo-right {
    top: 88%;
    left: 0%;

}

#delete-button {
    white-space: nowrap;
    font-size: 2vw;
    left: 10%;
}

#container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*background-color: #D2C7C3;*/
}

#profile-picture-container {
    position: absolute;
    /*background-color: blueviolet;*/
    top: 11%;
    left: 37%;
    width: 30%;
    height: 20%;
}

#profile-picture {
    width: 100%;
}

.buttons {
    display: inline-block;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.buttons:hover {
    transform: scale(1.2);
}

.button-image {
    width: 100%;
}

#confirmation-image {
    width: 35%;
}

#confirmation-popin {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top:0%;
    left:0%;
}

#popin-postit {
    position: absolute;
    /* top: 0%;
    left: 0%; */
    /* background-color: blue; */
    width: 31%;
    aspect-ratio: 228 / 129;
}

.button-popin {
    position: absolute;
    top: 60%;
    transition: transform 0.3s ease;
    font-size: 4vw;
    /* background-color: blue; */
}

.button-popin:hover {
    transform: scale(1.2);
}

#yes-button {
    left:15%;
    width: 27%;
    height: 18%;
}

#no-button {
    left: 60%;
    width: 23%;
    height: 18%;
}

#confirmation-text {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 2.8vw;
    /* text-align: center; */
}

.stats {
    position: absolute;
    /* background-color: rgb(238, 115, 0); */
    width: 24%;
    height: 20%;
    font-size: 1.7vw;
    text-align: center;
    top: 18%;

}
#wins {
    left: 5%;
    color: #332C2B;
}

#losses {
    left: 73%;
}

#user-info {
    position: absolute;
    width: 80%;
    height: 30%;
    top: 45%;
    left: 10%;
    font-size: 1.7vw;
}

#current-info {
    /* display: none; */
    display: flex;
    flex-direction: column;   
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

#username {
}

.edit-logo-mode {
    width: 7%;
}

#edit-profile {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    top: 80%;
    left: 5%;
    /* background-color: blue; */
}

.edit-logo {
    width: 10%;
    vertical-align: middle;
}

#edit-logo-left {
    top: 88%;
    left: 100%;
}

#edit-logo-right {
    top: 88%;
    left: 0%;
}

#edit-button {
    white-space: nowrap;
    font-size: 2vw;
    left: 10%;
}

/* #delete-logo { */
    /* position: absolute; */
    /* width: 10%; */
    /* left: 96%; */
    /* top: 0%; */
/* } */


#edit-info {
    /* display: flex; */
    display: none;

}

.edit-input {
    width: 80%;
}

.edit-button {
    display: block;
    position: absolute;
    width: 7%;
}

#edit-email {
    top: 50%;
    left: 100%;
}

#edit-username {
    top: 5%;
    left: 100%;
}

.text {
    font-family: isaac-bold;
    color: #332C2B;
    display: inline-block;
}

#logout-button {
    position: absolute;
    width: 6%;
    top: 8%;
    left: 69%;
    z-index: 1111;
}