@font-face {
  font-family: isaac-bold;
  src: url("../assets/font/IsaacGame.ttf");
}
@font-face {
  font-family: isaac-bold;
  src: url("http://localhost:5500/routes/assets/font/isaac_bold.ttf") format("truetype");
}
body {
  background-image: url("../assets/images/account/background_account.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body #page {
  position: relative;
  height: 100%;
}
body #page .text {
  font-family: isaac-bold;
  color: #332C2B;
}
body #page button {
  background-color: transparent;
  border: none;
}
body #page button:hover {
  transform: scale(1.2);
}
body #page #background {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #page #background #container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
body #page #background #container .buttons {
  transition: transform 0.3s ease;
  background-color: transparent;
  border: none;
}
body #page #background #container .buttons:hover {
  transform: scale(1.2);
}
body #page #background #container #logout-sheet {
  width: 19%;
  position: absolute;
  top: 57%;
  left: 70%;
}
body #page #background #container #logout {
  background-color: #FFFFFF;
  position: absolute;
  rotate: -6deg;
  left: 71%;
  top: 59%;
  max-width: 16%;
  max-height: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 1%;
}
body #page #background #container #logout span {
  font-size: 1.6vw;
}
body #page #background #container #logout button img {
  width: 60%;
}
body #page #background #container #sheet {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body #page #background #container #sheet #sheet-image {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #page #background #container #sheet #who {
  font-size: 1.8vw;
  position: absolute;
  top: 0vh;
  left: 11vw;
}
body #page #background #container #sheet #main-page {
  position: absolute;
  left: 9%;
  top: 4%;
  width: 63%;
  height: 80%;
  transform: rotate(7deg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 100%;
  max-height: 100%;
}
body #page #background #container #sheet #main-page #user-info {
  position: absolute;
  width: 80%;
  height: 30%;
  top: 39%;
  left: 10%;
  font-size: 1.7vw;
}
body #page #background #container #sheet #main-page #user-info #current-info {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
body #page #background #container #sheet #main-page #user-info #current-info input {
  border: none;
  background-color: #ccc7c6;
  margin: 3px;
}
body #page #background #container #sheet #main-page #user-info #current-info button {
  width: 100%;
}
body #page #background #container #sheet #main-page #user-info #current-info .edit-logo-mode {
  width: 30%;
}
body #page #background #container #sheet #main-page #user-info #current-info #label-email {
  padding: 2px;
  background-color: #ada2a0;
}
body #page #background #container #sheet #main-page #user-info #current-info #label-username {
  padding: 2px;
  background-color: #ada2a0;
}
body #page #background #container #sheet #main-page #user-info #current-info .edit-input {
  width: 80%;
}
body #page #background #container #sheet #main-page #user-info #current-info #username {
  display: flex;
}
body #page #background #container #sheet #main-page #user-info #current-info #username button {
  display: none;
}
body #page #background #container #sheet #main-page #user-info #current-info #username form {
  display: none;
}
body #page #background #container #sheet #main-page #user-info #current-info #edit-password {
  display: none;
}
body #page #background #container #sheet #main-page #user-info #current-info #edit-password img {
  width: 50%;
}
body #page #background #container #sheet #main-page #user-info #current-info #edit-password span {
  white-space: nowrap;
  padding: 2px;
  background-color: #ada2a0;
}
body #page #background #container #sheet #main-page #user-info #current-info #edit-password form {
  display: none;
  flex-direction: column;
}
body #page #background #container #sheet #delete-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 10%;
}
body #page #background #container #sheet #delete-profile button {
  white-space: nowrap;
  font-size: 2vw;
  left: 10%;
}
body #page #background #container #sheet #delete-profile img {
  width: 8%;
  vertical-align: middle;
}
body #page #background #container #sheet #delete-profile #delete-logo-left {
  top: 88%;
  left: 100%;
}
body #page #background #container #sheet #delete-profile #delete-logo-right {
  top: 88%;
  left: 0%;
}
body #page #background #container #sheet #edit-profile {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 10%;
  top: 84%;
  left: 5%;
}
body #page #background #container #sheet #edit-profile button {
  white-space: nowrap;
  font-size: 2vw;
  left: 10%;
}
body #page #background #container #sheet #edit-profile .edit-logo {
  width: 10%;
  vertical-align: middle;
}
body #page #background #container #sheet #edit-profile #edit-logo-right {
  top: 88%;
}
body #page #background #container #sheet #edit-profile #edit-logo-left {
  top: 88%;
}
body #page #background #container #sheet #profile-picture-container {
  position: absolute;
  top: 11%;
  left: 31%;
  width: 41%;
  height: 23%;
  display: flex;
  justify-content: center;
}
body #page #background #container #sheet #profile-picture-container #profile-picture {
  width: 73%;
}
body #page #background #container #sheet #profile-picture-container #profile-picture img {
  width: 100%;
}
body #page #background #container #sheet #profile-picture-container form label {
  display: none;
  position: absolute;
  top: 88%;
  left: 86%;
  width: 17%;
}
body #page #background #container #sheet #profile-picture-container form label img {
  width: 100%;
}
body #page #background #container #sheet #profile-picture-container form input {
  display: none;
}
body #page #background #container #sheet .button-image {
  width: 100%;
}
body #page #background #container #sheet .stats {
  position: absolute;
  width: 24%;
  height: 20%;
  font-size: 1.7vw;
  text-align: center;
  top: 18%;
}
body #page #background #container #sheet #wins {
  left: 5%;
  color: #332C2B;
}
body #page #background #container #sheet #losses {
  left: 73%;
}
body #page #background #confirmation-popin {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0%;
  left: 0%;
}
body #page #background #confirmation-popin button {
  border: none;
  position: absolute;
  top: 60%;
  transition: transform 0.3s ease;
  font-size: 4vw;
}
body #page #background #confirmation-popin span {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 2.8vw;
}
body #page #background #confirmation-popin img {
  width: 35%;
}
body #page #background #confirmation-popin #popin-postit {
  position: absolute;
  width: 31%;
  aspect-ratio: 228/129;
}
body #page #background #confirmation-popin .button-popin:hover {
  transform: scale(1.2);
}
body #page #background #confirmation-popin #yes-button {
  left: 15%;
  width: 27%;
  height: 18%;
}
body #page #background #confirmation-popin #no-button {
  left: 60%;
  width: 23%;
  height: 18%;
}/*# sourceMappingURL=style.css.map */