body, html {
    background-image: url('../assets/images/utils/background_account.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /*background-color: #D2C7C3;*/
}

@font-face {
	font-family: isaac-bold;
	src: url(../assets/font/IsaacGame.ttf);
  }

@font-face {
    font-family: isaac-bold;
    src: url('http://localhost:5500/routes/assets/font/isaac_bold.ttf') format('truetype');
}


#page {
    position: relative;
    height: 100%;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#sheet-image {
    /*background-color: #4CAF50;*/
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-page {
    position: absolute;
    /*background-color: rgb(245, 0, 253);*/
    left:9%;
    top:4%;
    width: 63%;
    height: 80%;
    transform: rotate(7deg);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    max-width: 100%;
    max-height: 100%;
}

#delete-profile {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    /* background-color: purple; */
}

.delete-logo {
    width: 8%;
    vertical-align: middle;
}

#delete-logo-left {
    top: 88%;
    left: 100%;
}

#delete-logo-right {
    top: 88%;
    left: 0%;

}

#delete-button {
    white-space: nowrap;
    font-size: 2vw;
    left: 10%;
}

#container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*background-color: #D2C7C3;*/
}

#profile-picture-container {
    position: absolute;
    /*background-color: blueviolet;*/
    top: 11%;
    left: 37%;
    width: 30%;
    height: 20%;
}

#profile-picture {
    width: 100%;
}

.buttons {
    /* display: inline-block; */
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.buttons:hover {
    transform: scale(1.2);
}

.button-image {
    width: 100%;
}

#confirmation-popin {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top:0%;
    left:0%;
    button {
        position: absolute;
        top: 60%;
        transition: transform 0.3s ease;
        font-size: 4vw;
    }
    span {
        position: absolute;
        top: 20%;
        left: 10%;
        font-size: 2.8vw;
    }
    img {
        width: 35%;
    }
}

#popin-postit {
    position: absolute;
    width: 31%;
    aspect-ratio: 228 / 129;
}


.button-popin:hover {
    transform: scale(1.2);
}

#yes-button {
    left:15%;
    width: 27%;
    height: 18%;
}

#no-button {
    left: 60%;
    width: 23%;
    height: 18%;
}

.stats {
    position: absolute;
    /* background-color: rgb(238, 115, 0); */
    width: 24%;
    height: 20%;
    font-size: 1.7vw;
    text-align: center;
    top: 18%;

}
#wins {
    left: 5%;
    color: #332C2B;
}

#losses {
    left: 73%;
}

#user-info {
    position: absolute;
    width: 80%;
    height: 30%;
    top: 45%;
    left: 10%;
    font-size: 1.7vw;
}

#current-info {
    /* display: none; */
    display: flex;
    flex-direction: column;   
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

.edit-logo-mode {
    width: 7%;
}

#edit-profile {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    top: 80%;
    left: 5%;
    /* background-color: blue; */
}

.edit-logo {
    width: 10%;
    vertical-align: middle;
}

#edit-logo-left {
    top: 88%;
    left: 100%;
}

#edit-logo-right {
    top: 88%;
    left: 0%;
}

#edit-profile {
    button {
        white-space: nowrap;
        font-size: 2vw;
        left: 10%;    
    }
}

#username {
    display: flex;
    button {
        display: none;
        width: 100%;
        background-color: transparent;
        border: none;
    }
}

#password {
    display:none;
    button {
        width: 100%;
    }
}

#edit-username {
    display: none;
}
           
#edit-password {
    display: none;
    flex-direction: column;
}

.edit-input {
    width: 80%;
}

.text {
    font-family: isaac-bold;
    color: #332C2B;
}

#logout-button {
    position: absolute;
    width: 6%;
    top: 8%;
    left: 69%;
    z-index: 1111;
}

.circle {
    position: absolute;
    top: 30%;
    left: 76%;
    width: 150px; /* Diamètre du cercle */
    height: 150px;
    border-radius: 50%; /* Rendre le div circulaire */
    overflow: hidden; /* Empêche les débordements */
}
.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
}
.slice-1 {
    background-color: #4CAF50; /* Couleur de la première portion */
    transform: rotate(0deg);
}
.slice-2 {
    background-color: #2196F3; /* Couleur de la deuxième portion */
    transform: rotate(90deg);
}
.slice-3 {
    background-color: #FFC107; /* Couleur de la troisième portion */
    transform: rotate(180deg);
}
.slice-4 {
    background-color: #F44336; /* Couleur de la quatrième portion */
    transform: rotate(270deg);
}