body {
	text-align: center;
}
canvas {
	display: block;
    margin-right: auto;
    margin-left: auto;
}
@font-face {
	font-family: isaac;
	src: url(../../assets/font/IsaacGame.ttf);
  }

@font-face {
    font-family: isaac;
	src: url("../../assets/font/isaac.ttf") format("truetype");
}
#background-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%; 
    background-image: url('../../../static/assets/background/background_1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	#stat-and-game {
		position: relative;
		display: flex;
		flex-direction: row;

		#game-canvas {
			height: 605px;
			width: 1025px;
			position: relative;
			#backgroundCanvas {
				position: absolute;
				z-index: 0;
				border-radius: 40px;
			}
			#pongCanvas {
				position: absolute;
				z-index: 1; 
			}
			#lifeCanvas {
				position: absolute;
				z-index: 1; 
			}
			.return-menu {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				top: 50%;
				z-index: 5;
				#button-return {
					position: absolute;
					font-family: isaac;
					font-size: 0.8rem;
					background-image: url(../../../static/assets/sheets/Button.png);
					width: 150px;
					height: 60px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					transition: transform 0.1s ease;
					&:hover{
						transform: scale(1.02);
						border: none;
						background-color: transparent;
					}
				}
			}
		}
	}
	#player-block {
		font-family: isaac;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		width: 1000px;
		margin-top: 15px;
		#player1 {
			display: flex;
			align-items: center;
			.profile-pic {
				display: inline-flex;
				align-items: center; 
				margin-right: 10px; 
			}
			.player-name
			{
				display: inline-flex;
				align-items: center;
			}
		}
		#player2 {
			display: flex;
			align-items: center;
			.profile-pic {
				display: inline-flex;
				align-items: center; 
				margin-left: 10px; 
			}
			.player-name
			{
				display: inline-flex;
				align-items: center;
			}
		}
	}

}
.profile-pic img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}