<header>
	<aside class="sidebar">
		<ul>
			<li class="logo">
				<a class="menu" href="#">
					<span class="icon"><img src="../../static/assets/jpg/head.png" alt="icon"></span>
					<span class="text">TRANSCENDANCE</span>
				</a>
			</li>
			<li>
				<a class="menu" href="/">
					<span class="icon"> <img src="../../static/assets/house.png" alt="icon"></span>
					<span class="text">Home</span>
				</a>
			</li>
			<li>
				<a class="menu" href="/character">
					<span class="icon"> <img src="../../static/assets/pong.png" alt="icon"></span>
					<span class="text">Play</span>
				</a>
			</li>
			<li>
				<a class="menu" href="#">
					<span class="icon"> <img src="../../static/assets/chat.png" alt="icon"></span>
					<span class="text">Chat</span>
				</a>
			</li>
			<li>
				<a class="menu" href="#">
					<span class="icon"> <img src="../../static/assets/house.png" alt="icon"></span>
					<span class="text">Settings</span>
				</a>
			</li>
		</ul>
	</aside>
</header>
 
