<header class="preload">
	<aside class="sidebar">
		<ul>
			<div class="top">
				<li class="logo">
					<a class="menu" href="/" data-link>
						<span class="icon">
							<img id="iconImage" src="../../static/assets/jpg/head.png" alt="icon">
						</span>
						<span class="title"><img src="../../static/assets/header/logo.png" alt="logo"></span>
					</a>
				</li>
			</div>
			<li class="line-no-hover">
				<span class="line"></span>
			</li>
			<li>
				<a class="menu" href="/" data-link>
					<span class="icon"> <img src="../../static/assets/header/house.png" alt="icon"></span>
					<span class="text-header">Home</span>
				</a>
			</li>
			<li>
				<a class="menu" href="/character" data-link>
					<span class="icon"> <img src="../../static/assets/header/pong.png" alt="icon"></span>
					<span class="text-header">Play</span>
				</a>
			</li>
			<li>
				<a class="menu" id="chat-link" href="/chat" data-link>
					<span class="icon"> <img src="../../static/assets/header/chat.png" alt="icon"></span>
					<span class="text-header">Chat</span>
				</a>
			</li>
			<li>
				<a class="menu" id="account-link" href="/account" data-link>
					<span class="icon"> <img src="../../static/assets/header/settings.png" alt="icon"></span>
					<span class="text-header">Account</span>
				</a>
			</li>
			<li>
				<a class="menu" id="friends-link" href="/friends" data-link>
					<span class="icon"> <img src="../../static/assets/header/friend.png" alt="icon"></span>
					<span class="text-header">friends</span>
				</a>
			</li>
		</ul>
		<div class="doodle"> <img src="../../static/assets/header/header_doodle.png"></div>
	</aside>
</header>
 
