<header class="preload">
	<aside class="sidebar">
		<ul>
			<div class="top">
				<li class="logo">
					<a class="menu" href="/">
						<span class="icon">
							<img id="iconImage" src="../../static/assets/jpg/head.png" alt="icon">
						</span>
						<span class="title"><img src="../../static/assets/header/logo.png" alt="logo"></span>
					</a>
				</li>
			</div>
			<li class="line-no-hover">
				<span class="line"></span>
			</li>
			<li>
				<a class="menu" href="/">
					<span class="icon"> <img src="../../static/assets/header/house.png" alt="icon"></span>
					<span class="text-header">Home</span>
				</a>
			</li>
			<li>
				<a class="menu" href="/character">
					<span class="icon"> <img src="../../static/assets/header/pong.png" alt="icon"></span>
					<span class="text-header">Play</span>
				</a>
			</li>
			<li>
				<a class="menu" href="#">
					<span class="icon"> <img src="../../static/assets/header/chat.png" alt="icon"></span>
					<span class="text-header">Chat</span>
				</a>
			</li>
			<li>
				<a class="menu" href="#">
					<span class="icon"> <img src="../../static/assets/header/settings.png" alt="icon"></span>
					<span class="text-header">Settings</span>
				</a>
			</li>
			<div class="bottom">
				<li class="line-no-hover">
					<span class="line"></span>
				</li>
				<li>
					<a class="menu" href="#">
						<span class="icon avatar"> <img src="../../static/assets/jpg/default_picture.jpg" alt="avatar"></span>
						<span class="text-header">Username</span>
					</a>
				</li>
				<li>
					<a class="menu" href="#">
						<span class="icon"> <img src="../../static/assets/header/logout.png" alt="icon"></span>
						<span class="text-header">Logout</span>
					</a>
				</li>
			</div>
		</ul>
		<div class="doodle"> <img src="../../static/assets/header/header_doodle.png"></div>
	</aside>
</header>
 
