@font-face {
	font-family: 'IsaacFont';
	src: url(../../static/assets/font/IsaacGame.ttf);
}


header {
	font-family: IsaacFont;
	font-size: 2rem;
	color: #2d2d2d;
	text-decoration: none;
}

header.preload *{
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;
	transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.sidebar {
	z-index: 1;
	position: absolute;
	top: 0;
	width:  80px;
	height: 100vh;
	background: url('../../static/assets/sheets/header_sheet2.png')  no-repeat  right;
	background-size: 100% 150%;
	overflow: hidden;
	transition: .6s;
}

.sidebar:hover
{
	width: 300px;
}


.sidebar ul 
{
	position: relative;
	left: -20px;
	height: 100vh;
	display: flex; 
    flex-direction: column; /* Aligner les éléments verticalement */
}



.sidebar li:hover {
    transform: scale(1.1) translateX(12px); /* Applies to all li elements */
}


.icon img {
	width: 30px;
    height: auto;
}


.sidebar ul li
{
	list-style: none;
	white-space: nowrap;
	text-decoration: none;
	width: auto;
	min-width: 60px;
	height: 60px;
	align-items: center;
}

.sidebar .text-header
{
	margin-left: 35px;
}

.title img {
	position: relative;
	width: 185px;
    height: auto;
	margin-left: 20px;
	top: 10px
}

.logo {
	position: relative;
	top: -20px;
}

.top .icon img
{
	position: relative;
	top: 0px;
	width: 40px;
}

.top .logo:hover
{
	transform: none;
    cursor: default; /* Optionally, prevent the hover cursor */
}


.sidebar .bottom {
	display:flex;
	flex-direction: column;
    margin-top: auto;
	margin-bottom: 30px;
}

.avatar img
{
	position: relative;
	width: 30px;
    height: auto;
	border-radius: 50%;
	overflow: hidden;
}


a:link { 
	text-decoration: none;
	color: #2d2d2d;
  } 
  a:visited { 
	text-decoration: none;
	color: #2d2d2d;
  } 
  a:hover { 
	text-decoration: none; 
  } 
  a:active { 
	text-decoration: none; 
  }

.line {
	height: 3px;       /* Set the height of the rectangle */
	width: 30px;      /* Set the width to be greater than the height for a rectangular shape */
	background:  #929292; /* The background color of the rectangle */
	display: inline-block; /* Ensures it behaves like a block element */
	border-radius: 18%;
	transition: width 0.6s; /* Add transition for smooth width change */

}

.sidebar:hover .line {
    width: 240px;
}

.line-no-hover 
{
	position: relative;
    transform: none !important;
}

.test {
	height: 60px !important;

}

.sidebar:hover .doodle {
	transition: none;
}

.doodle 
{
	position: absolute;
	top: 10%;
	z-index: -1;
}






.popin {
	font-family: 'Jost', sans-serif;
	font-size: 1rem;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.log-popin {
	background-image: url('../../routes/assets/images/login-postit.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height:400px;
    position: relative;
}

#closePopupBtn {
	position: absolute;
	top: 15%;
	right: 14%;
	font-size: 35px;
	cursor: pointer;
}

#login-content {
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding: 95px 110px 0px 100px;
    transform: rotate(5deg);
}

.email {
    margin-left: calc(32px);
}

.confirm-button {
    padding: 5px 15px;
    margin: 10px;
    background-color: #fffcfc;
    border: none;
    border-radius: 0.5rem;
}

.login-buttons {
    flex: 1;
    background-color: #fffcfc;
    color: black;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    text-decoration: none;
}

#google-logo {
    width: 20%;
}

#github-login {
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2e31;
    color: white;
    text-align: center;
}

#github-logo {
    width: 20%;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#intra-logo {
    width:40px;
}

#register-content {
    display: none;
    flex-direction: column;
    align-items:  center;
    padding: 95px 110px 0px 100px;
    transform: rotate(5deg);
}

#local:disabled {
    cursor: not-allowed; /*if login cursor: allowed */
    border: none;
}

.login-buttons:hover {
    font-size: 1rem;
}

.custom-input {
    border: none;
    background-color: #ccc7c6;
}


.log-buttons {
    /* padding: 10px 20px; */
    background: transparent;
    color: rgba(69,57,59,255);
    cursor: pointer;
	font-family: IsaacFont;
    font-size: 2rem;
    text-decoration: none;
    border: none;
}