@font-face {
	font-family: 'IsaacFont';
	src: url(../../static/assets/font/IsaacGame.ttf);
}


.sidebar {
	z-index: 1;
	position: absolute;
	top: 0;
	width:  80px;
	height: 100vh;
	background: url('../../static/assets/sheets/header_sheet.png')  no-repeat  right;
	background-size: 100% 150%;
	overflow: hidden;
	transition: .6s;
}

.sidebar:hover
{
	width: 300px;
}


.sidebar ul 
{
	position: relative;
	left: -20px;
	height: 100vh;
	display: flex; 
    flex-direction: column; /* Aligner les éléments verticalement */
}

.sidebar li:hover
{
	transform: scale(1.1) translateX(12px);
}

  .icon img {
	width: 30px;
    height: auto;
}


.sidebar ul li
{
	list-style: none;
	white-space: nowrap;
	text-decoration: none;
	width: auto;
	min-width: 60px;
	height: 80px;
	align-items: center;
}

.sidebar .text
{
	margin-left: 35px;
}

.title img {
	position: relative;
	width: 185px;
    height: auto;
	margin-left: 20px;
	top: 10px
}

.top .icon img
{
	position: relative;
	top: 0px;
	width: 40px;
}

.logo
{
	margin-bottom: 10vh;
}

.top .logo:hover
{
	transform: none;
    cursor: default; /* Optionally, prevent the hover cursor */
}

.sidebar .bottom {
    margin-top: auto;
	margin-bottom: 30px;
	
}

.bottom .icon img 
{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

a:link { 
	text-decoration: none; 
  } 
  a:visited { 
	text-decoration: none; 
  } 
  a:hover { 
	text-decoration: none; 
  } 
  a:active { 
	text-decoration: none; 
  }
