name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend:
    name: Django Tests
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10.12
      uses: actions/setup-python@v3
      with:
        python-version: 3.10.12
    - name: Install Dependencies
      run: |
        cd backend
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test
  frontend:
    name: Tests for frontend
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
