name: CI & CD for dev branch

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  backend:
    name: Tests for backend
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10.12
      uses: actions/setup-python@v3
      with:
        python-version: 3.10.12
    - name: Install Dependencies
      run: |
        cd backend
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python backend/manage.py test --settings=backend.settings.test
  frontend:
    name: Tests for frontend
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install Dependencies
        run: |
          cd frontend
          npm install
      - name: Run Tests
        run: |
          cd frontend
          npm test
  time:
    name: Time rendering
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install Dependencies
        run: |
          cd test
          npm install
      - name: Run website
        run: docker compose -f docker-compose.yml up --build -d
      - name: Wait for web service to be healthy
        run: |
          while ! curl -s http://localhost:5500; do
            echo "Waiting for web service..."
            sleep 5
          done
      - name: Run Test
        run: |
          node test/test-route-speed.js
      - name: Stop website
        run: docker compose -f docker-compose.yml down
  build:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    needs: [backend, frontend, time]
    if: github.event_name == 'push' && github.ref == 'refs/heads/dev'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker
        uses: docker/setup-buildx-action@v1
      - name: Login to Github Docker Registry
        run: echo ${{ secrets.TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Create SSL Certificate Files
        run: |
          mkdir -p frontend/certs
          echo "${{ secrets.DEV_SSL_CERT }}" > frontend/certs/dev.crt
          echo "${{ secrets.DEV_SSL_KEY }}" > frontend/certs/dev.key
      - name: Build Docker Images
        run: docker compose -f docker-compose.dev.yml build
      - name: Push Docker Images
        run: docker compose -f docker-compose.dev.yml push

  deploy:
    name: Deploy to EC2
    runs-on: self-hosted
    needs: [build]
    if: github.event_name == 'push' && github.ref == 'refs/heads/dev'

    steps:
      - name: Pull and Deploy
        run: |
          cd /home/ubuntu
          docker compose -f docker-compose.dev.yml -p dev down
          docker pull ghcr.io/cdurdetrouver/backend-dev:latest
          docker pull ghcr.io/cdurdetrouver/frontend-dev:latest
          docker compose -f docker-compose.dev.yml -p dev up -d --remove-orphans
